// 主页文章添加阴影效果
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

@media screen and (min-width:1200px) {
  body {
    background-image:url(/remove.io/images/ilvcd.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
  }

  #footer a {
    color:#eee;
  }
}
