<% if (get_config('comment.type') !== undefined && get_config('comment.type') == 'gitalk') { %>
    <div class="card widget">
        <div class="card-content">
        <h3 class="menu-label">最新评论</h3><span class="menu-label1" id="body_hot_comment">加载中，最新评论有10分钟延迟...<span>
        </div>
    </div>
<% } %>