<% if (page.path == 'index.html' && get_config('comment.type') !== undefined && get_config('comment.type') == 'gitalk'){ %>
    <div class="card widget">
        <div class="card-content">
        <h3 class="menu-label">热门推荐</h3><span class="menu-label1" id="index_hot_div">加载中，稍等几秒...</span>
        </div>
    </div>
<% } %>
<% page.posts.each(function(post){ %>
    <%- _partial('common/article', { post, index: true }) %>
<% }); %>
<% if (page.total > 1) { %>
    <%- _partial('common/paginator') %>
<% } %>